# Git
.git/
.gitignore

# RStudio
.Rproj.user/
swedishbirdrecoveries.Rproj

# R history
.Rhistory
.RData
.Ruserdata
.Renviron

# R package build
*.tar.gz
*.Rcheck/

# CI/CD
.travis.yml
.github/

# Docker
Dockerfile
docker-compose.yml

# Documentation & raw data
vignettes/
data-raw/
README.Rmd
NEWS.md

# This file
.dockerignore